:root
{
    /* color */

    --colour-dark-bg: #222;
    --colour-dark-fg: #222;
    --colour-light-bg: #eee;
    --colour-light-fg: #eee;

    /* accent colours */
    --colour-red-bg: #622;
    --colour-green-bg: #252;
    --colour-blue-bg: #57e;
    --colour-white-bg: #bbb;
    --colour-black-bg: #333;
    --colour-grey-bg: #777;

    /* functional colours */

    /* Don’t forget to upgrade theme-color meta tag and manifest as well */
    --colour-bg: var(--colour-dark-bg);
    --colour-fg: var(--colour-light-fg);
    --colour-section-separator: black;

    /* sizes */

    --action-button-size: 1.5em;
}

html
{
    box-sizing: border-box;
    height: 100%;
    color: var(--colour-fg);
    font-size: 5vh; /* FIXME In general adapt to weird aspect ratios better */
    font-family: serif;
    text-align: center;
    background-color: var(--colour-bg);
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    color: inherit;
    font: inherit;
    text-align: inherit;
    background-color: transparent;
    border: none;
}

body
{
    height: 100%;
    margin: 0;
}

@media (prefers-reduced-motion)
{
    *
    {
        transition: none !important;
        animation: none !important;
    }
}

/* template: App */

.t-App
{
    display: grid;
    grid-template:
        "a1 a2"
        "toolbox toolbox" 0
        "b1 b2";
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.t-App__toolbox
{
    z-index: 2;
    grid-area: toolbox;
    margin-block-start: calc(var(--action-button-size) / -2);
}

.t-App__panel
{
    grid-column-end: span 2;
}

/* organism: Player */

.o-Player
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    outline: var(--colour-section-separator) solid 1px;
}

.o-Player__content
{
    transition: transform ease-in 200ms;
}

.o-Player--opponent:not(:focus-within) > .o-Player__content,
.o-Player--opponent[data-button-focus-within=true] > .o-Player__content
{
    transform: rotate(180deg);
}

.o-Player--red
{
    color: var(--colour-light-fg);
    background-color: var(--colour-red-bg);
}

.o-Player--green
{
    color: var(--colour-light-fg);
    background-color: var(--colour-green-bg);
}

.o-Player--blue
{
    color: var(--colour-light-fg);
    background-color: var(--colour-blue-bg);
}

.o-Player--white
{
    color: var(--colour-dark-fg);
    background-color: var(--colour-white-bg);
}

.o-Player--black
{
    color: var(--colour-light-fg);
    background-color: var(--colour-black-bg);
}

.o-Player--grey
{
    color: var(--colour-light-fg);
    background-color: var(--colour-grey-bg);
}

.o-Player__nameHeading
{
    margin: 0;
    transition: transform ease-in-out 200ms;
}

.o-Player[data-chosen=true] .o-Player__nameHeading
{
    transform: scale(2); /* FIXME Maybe o-Player background animation instead? */
}

.o-Player__message
{
    position: absolute;
    top: 0.5em;
    left: 50%;
    max-width: 100%;
    padding: 0.5em;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
    transform: translateX(-50%);
    transition:
        opacity ease-out 200ms,
        transform ease-in 200ms;
    pointer-events: none;
}

.o-Player__message[data-incoming=true]
{
    transform: translateX(-50%) translateY(0.25em);
    transition: opacity ease-out 200ms;
}

.o-Player__message[hidden]
{
    display: block;
    opacity: 0;
}

.o-Player__name
{
    position: relative;
    z-index: 1;
    width: 100vw;
    border: 0;
}

/* molecule: Life */

.m-Life
{
    --value-width: 3.5ch;
    --button-size: 1.5ch;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;
    padding-inline: 0.1em;
}

.m-Life__button
{
    --scale: 0.7;

    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    width: var(--button-size);
    height: var(--button-size);
    font-size: calc(var(--scale) * 1em);
    line-height: 0.5; /* FIXME font–specific. Probably need to go with icons. */
    vertical-align: middle;
    border: currentColor solid;
    border-radius: 50%;
}

.m-Life__button::before
{
    --height: calc(var(--button-size) + 1em / var(--scale));
    --width: calc(var(--button-size) + var(--value-width));

    position: absolute;
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--height);
    content: '';
}

.m-Life__button--decrease
{
    order: -1;
}

.m-Life__value
{
    flex: 0 1 auto;
    width: var(--value-width);
    color: inherit;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    -moz-appearance: textfield;
}

.m-Life__value::-webkit-outer-spin-button,
.m-Life__value::-webkit-inner-spin-button
{
    margin: 0;
    -webkit-appearance: none;
}

@media (min-aspect-ratio: 2/5)
{
    .m-Life
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* atom: Action */

.a-Action
{
    width: var(--action-button-size);
    height: var(--action-button-size);
    line-height: 1;
    background-color: black;
    border-radius: 50%;
    box-shadow:
        0 0.5em 1.5em rgba(0, 0, 0, 0.19),
        0 0.25em 0.25em rgba(0, 0, 0, 0.23);
}
